.Untitled-1{ background:url(bg.png) top left no-repeat; }
.sea__r2_c1{ background-size: 21px 20px; background-position:0 0; }
.sea__r1_c11{ width:16px; height:16px; background-position:-21px 0; }
.sea__r1_c10{ width:14px; height:16px; background-position:-37px 0; }
.sea__r1_c9{ width:16px; height:16px; background-position:-51px 0; }
.sea__r1_c8{ width:15px; height:16px; background-position:-67px 0; }
.sea__r1_c7{ width:16px; height:16px; background-position:-82px 0; }
.sea__r1_c6{ width:16px; height:16px; background-position:-98px 0; }
.sea__r1_c5{ width:14px; height:16px; background-position:-114px 0; }
.sea__r1_c4{ width:15px; height:16px; background-position:-128px 0; }
.sea__r1_c2{ width:16px; height:16px; background-position:-143px 0; }
.sea__r1_c1{ width:13px; height:16px; background-position:-159px 0; }

